<!DOCTYPE html>
<html>
  <head>
    <title>{{.SiteName}} - Reset Password
    </title>
    <link rel="shortcut icon" href="{{.FavIcon}}"/>

    <link rel="stylesheet" href="/static/uadmin/assets/bootstrap/3.3.7/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/uadmin/assets/fa/css/all.min.css">
    <link rel="stylesheet" href="/static/uadmin/assets/bootstrap/3.3.7/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="/static/uadmin/assets/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/uadmin/assets/admin/main.css">
    <link rel="stylesheet" href="/static/uadmin/assets/css/hover.css">
    <link rel="stylesheet" href="/static/uadmin/assets/spinner/src/jRoll.css">

    <style type="text/css" media="all">
      /* fix rtl for demo */
      .chosen-rtl .chosen-drop { left: -9000px; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  </head>
  <body>
    <script>
      var err = 0;
    </script>

    <div class="top-space col-xl-12"></div>
    <div class="fixed-top bg-black3 default-padding z-index9">
      <div class="">
        <div class="pull-left" style="display: block-inline;">
          <a href="{{.RootURL}}"><img class="hvr-grow" style="max-height:40px" src="{{.Logo}}"></a>
        </div>
      </div>
    </div>

    <div class="container-fluid tohide" id="Login">
      <div class="col-sm-6 col-sm-offset-3">
        <center>
          <span id="logo-top" class="fa-stack fa-lg fa-3x">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </center>
        <form method="POST">
          <div class="form-group">
            <label for="password">New Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <input id="password" type="password" class="form-control" name="password" placeholder="Enter a New Password...">
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <input id="confirm_password" type="password" class="form-control" name="confirm_password" placeholder="Confirm the new Password...">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        <hr>
        {{if .ErrExists}}
        <div class="alert alert-warning">
          <strong><i class="fa fa-info-circle fa-2x"></i></strong>&nbsp;&nbsp;{{.Err}}
        </div>
        <script>
          err = "1";
        </script>
        {{else}}

        {{end}} {{/* if .ErrExists */}}
        <div id="info_content">

        </div>
      </div>
    </div>

    <script type="text/javascript">
      var RootURL = '{{.RootURL}}';
    </script>

    <script src="/static/uadmin/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/uadmin/assets/js/tether.min.js" ></script>
    <script src="/static/uadmin/assets/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="/static/uadmin/assets/moment.js"></script>
    <script src="/static/uadmin/assets/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/uadmin/assets/admin/main.js"></script>
    <script src="/static/uadmin/assets/js/wow.js"></script>
    
    <script type="text/javascript" src="/static/uadmin/assets/spinner/src/jRoll.js"></script>
    <script type="text/javascript">
    if (err == 1){
      $('#logo-top').fadeOut();
      $('#logo-top').fadeIn();
      $('#logo-top').attr('style','color:red;');
    }

      $(function () {
          $('.date').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
          });
      });
    </script>
  </body>
</html>
